body {
	background-color: #eee;
	font-family: 'Niramit', sans-serif;
}


.loading {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	font-size: 2em;
	text-align: center;
	line-height: 100vh;
	color: white;
	display: none;
}

.generic-container {
  width:80%;
  margin: 20px auto;
  padding: 20px;
  background-color: #EAE7E7;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 30px black;
}

.sm-container {
	width: 60%;
}

.hr-primary{
  background-image: -webkit-linear-gradient(left, rgba(66,133,244,.8), rgba(66, 133, 244,.6), rgba(0,0,0,0));
}
/* navigation menu styles */
nav {
	background-color: #679f9d;
}

nav a {
	color: #fff;
}


.custom-action-width {
	width: 25%;
}


/* buttons style */
.btn-primary {
	background-color: #137c5c;
	border: 1px solid #137c5c;
}

.btn-warning {
	background-color: #669fa1;
	border: 1px solid #669fa1;
	color: #fff
}


.btn-danger {
/* 	background-color: #137c5c;
 */	border: 1px solid #137c5c;
}


/* tables style */
table > thead {
	background-color: #679f9d !important;
}

td {
	border-left: 1px solid black;
}



/* media style  */
@media screen and (max-width: 1000px) {
	.sm-container {
		width: 70%;
	}
}

@media screen and (max-width: 600px) {
	.sm-container {
		width: 90%;
	}
}

