body {
	background-color: #eee;
}

.generic-container {
  width:80%;
  margin: 20px auto;
  padding: 20px;
  background-color: #EAE7E7;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 30px black;
}

.sm-container {
	width: 60%;
}


nav {
	background-color: #679f9d;
}

a {
	color: #fff;
}
.custom-action-width {
	width: 20%;
}

@media screen and (max-width: 1000px) {
	.sm-container {
		width: 70%;
	}
}

@media screen and (max-width: 600px) {
	.sm-container {
		width: 90%;
	}
}

.btn-primary {
	background-color: #137c5c;
	border: 1px solid #137c5c;
}

.btn-warning {
	background-color: #669fa1;
	border: 1px solid #669fa1;
	color: #fff
}


.btn-danger {
/* 	background-color: #137c5c;
 */	border: 1px solid #137c5c;
}

table > thead {
	background-color: #679f9d !important;
}

